[submodule "ocean.py"]
	path = ocean.py
	url = git@github.com:akshay-ap/ocean.py.git
[submodule "provider"]
	path = provider
	url = git@github.com:akshay-ap/provider.git
[submodule "aquarius"]
	path = aquarius
	url = git@github.com:akshay-ap/aquarius.git