[submodule "ocean.py"]
	path = submodules/ocean.py
	url = git@github.com:oceanprotocol/ocean.py.git
	branch = main
[submodule "provider"]
	path = submodules/provider
	url = git@github.com:oceanprotocol/provider.git
	branch = main
[submodule "aquarius"]
	path = submodules/aquarius
	url = git@github.com:oceanprotocol/aquarius.git
	branch = main
[submodule "submodules/ocean-subgraph"]
	path = submodules/ocean-subgraph
	url = https://github.com/oceanprotocol/ocean-subgraph.git
