astroid==2.5.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
docspec==0.2.1
docspec-python==0.1.0
idna==2.10
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
nr.collections==0.0.1
nr.databind.core==0.0.22
nr.databind.json==0.0.14
nr.fs==1.6.3
nr.interface==0.0.4
nr.metaclass==0.0.6
nr.parsing.date==0.6.0
nr.pylang.utils==0.0.4
nr.stream==0.0.5
nr.sumtype==0.0.4
nr.utils.re==0.1.1
pydoc-markdown==3.10.0
pylint==2.7.2
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
toml==0.10.2
tqdm==4.59.0
urllib3==1.26.4
watchdog==1.0.2
wrapt==1.12.1
